**/probando.cpp
**/Generacion_Procedural.exe
**/probando.exe
**/CMakeLists.txt
**/Espada.png
**/Textura_filo_recortada.png
**/Textura_mango_recortada.png
**/Textura_Mango.png
**/Textura.png
**/archivo.txt